*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    background-color: #333333;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

/*Header*/
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid rgb(28, 108, 255);
    background-color: rgb(117, 117, 117);
}

header h1{
    margin-left: 40px;
}

nav{
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

ul li{
    display: block;
    padding: 10px;
}

ul li a{
    cursor: pointer;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

nav a:hover{
    border-bottom: 3px solid rgb(28, 108, 255);
    border-radius: 100%;
    transition-duration: 0.1s;
}

/*Header*/


/*Main*/

main{
    width: 80%;
    height: 100vh;
    margin: 0  auto;
    display: flex;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*conteudo inicio*/
.conteudo h1{
    font-size: 45px;
}

.conteudo h3{
    font-size: 24px;
}

.conteudo p{
    font-weight: bold;
    font-size: 18px;
}
/*conteúdo fim*/

.perfil img{
    width: 370px;
    height: auto;
    margin-top: 50px;
    margin-right: 80px;
}


.git img{
    width: 30px;
    height: 30px;
    margin-left: 100px;
}

.linkdn img, .email img, .insta img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
/*curriculo inicio */
.curriculo{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.curriculo button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(28, 108, 255);
    border:none;
    cursor: pointer;
}


.curriculo button a{
    color: white;
    font-weight: bold;
}

.curriculo button:hover{
    transition: all .5s;
    transform: scale(1.1);
    cursor: pointer;
}

.curriculo img:hover{
    transform: scale(1.2);
    transition: all .4s;
}
/*curriculo fim*/


/*Main-sobre-mim-inicio*/

/*Main-sobre-mim-fim*/



/*Footer*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 40%;
    cursor: pointer;
}
/*Footer*/